*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.section{
    width: 70%;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(2, 161, 2);
}

.container{
    height: 400px;
    width: 90%;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    padding: 20px 30px;
}

.cont-title{
    font-size: 25px;
}

.cont-text{
    margin: 5px 0;
}


.cont-text p{
    font-size: 20px;
    font-style: italic;
    font-weight: 0;
}

.cont-search{
    margin-top: 15px;
}

.cont-search input{
    width: 200px;
    height: 20px;
}

.cont-search button{
    background-color: rgb(37, 37, 167);
    padding: 6px 30px;
    border-style: none;
    color: white;
    border-radius: 10px 10px;
}

.cont-list{
    margin: 50px;
    width: 90%px;
}

.cont-list li{
    font-size: 20px;
    line-height: 30px;
    height: 30px;
    width: 100%;
}

.strike{
    background-color: rgb(156, 155, 155);
}

.cont-btn{
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
}

.blue, .red, .green{
    padding: 7px;
    width: 200px;
    border-radius: 15px 15px;
    background-color: rgb(37, 37, 167);
    border-style: none;
    color: white;
    font-size: 15px;
    margin-left: 10px;
}

.red{
    /* width: 150px; */
    background-color:red;
}

.green{
    /* width: 150px; */
    background-color: green;
}